.custom-backdrop {
	background: #3e38a9 !important;
}

.select__indicator-separator {
	display: none;
}
.text-underline {
	text-decoration: underline;
}

.cursor-pointer {
	cursor: pointer;
}

.customDatePickerWidth,
.customDatePickerWidth > div.react-datepicker-wrapper,
.customDatePickerWidth
	> div
	> div.react-datepicker__input-container
	.customDatePickerWidth
	> div
	> div.react-datepicker__input-container
	input {
	width: 100%;
}

.rdrCalendarWrapper,
.rdrMonth {
	width: 100% !important;
}

iframe {
	display: none !important;
}

.search-modal .modal-content {
	height: 95vh;
}
